h1 {
  color: white;
  font-size: 2.8rem;
  text-shadow: 3px 2px 2px #797d7f;
}
/* From cssbuttons.io by @adamgiebl */
button {
  text-align: center;
  overflow: hidden;
  height: 60px;
  width: 60px;
  background: #fbca1f;
  font-family: inherit;

  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 15px;
}

button:active {
  transform: translate(0.05em, 0.05em);
}

#igual{
    border-radius: 10px;
}
